<% provide(:title, 'About Us') %>
<h1>How it works</h1>
<p>
  MintChip Bridge is based on the idea of providing value added services utilizing the core competencies of a MintChip.
  From a implementation perpsective, we visualize the virtual card service being provided by either the various bank card issuers 
  or better still by the MintChip broker.
</p>  
  
<p>
  <li>
  	From a merchant acceptance perspective, there would be no change to their payment integrations.
  </li>
  <li>
  	From a consumer perspective, as long as they possess a MintChip and are made aware of the MintChip bridge service, the usage is known behavior to them.
  </li>
  <li>
  	From a Bank card issuer perspective, this could be modelled as something similar to some of the Virtual credit card services we have in the market. 
  	The biggest differentiator is the ease of using MintChip. Customer would not have to log-in making it safe to be accessed in unsecure environments.
  </li>


   	  	
</p>
