<div class="center hero-unit">
    <h2>
    - You want to use your MintChip online but not many merchants accept it? 
  </h2>
  <h2>
    - You are on a unsecure network but want to use your Credit Card? 
  </h2>
  <h2>
    - You want greater spending controls over your physical Credit Cards but cannot? 
  </h2>
<div id="video"><iframe src="https://player.vimeo.com/video/39302830" width="461" height="259" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
  <br>
  <br>
  <h2>
    <B>MintChip Bridge is the solution for you</B> 
  </h2>


  <%= link_to "Enter Demo Site", signup_path, class: "btn btn-large btn-primary" %>
  <br>	Please download the following mintchip plugin to use this site.

  <br>	If you do not have a MintChip, please view complete demo here


  
</div>

