<div class="center hero-unit" align="left">
    <h2 align="left">
    - You want to use your MintChip online but not many merchants accept it? 
  </h2>

  <h2 align="left">
    - You are on a unsecure network but want to use your Credit Card? 
  </h2>
  <h2 align="left">
    - You want greater spending controls over your physical Credit Cards but cannot? 
  </h2>

<iframe width="640" height="360" src="http://www.youtube.com/embed/1ncKbMCdg2k?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>

  <br>
  <br>
  <h2>
    <B>MintChip Bridge is the solution for you</B> 
  </h2>


  <%= link_to "Enter Demo Site", signup_path, class: "btn btn-large btn-primary" %>
  <br>	Please download the following <a href="/MintChipPlugin.msi">mintchip plugin</a> to use this site.




  
</div>

