<h2>
Thank you for trying the MintChip Bridge Demo.	
</h2>

    <div class="container">
      <%= link_to "MintChip Bridge - Leveraging MintChip with traditional payments", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Enter Demo",    signup_path %></li>
        </ul>
      </nav>
    </div>
