<h1>Transactions#show - Congratulations</h1>
<p><%= @transaction.amount %>, <%= @transaction.cc_num %></p>
<p> Please note the number above. It will not be displayed again</p>>

<p> You can use this card at any merchant location </p>>
<p> Please click the link below to go a demo merchant website </p>>
  <%= link_to "Merchant Demo Website!", merchantDemo_path, class: "btn btn-large btn-primary" %>
