<footer class="footer">
  <small>
  	MintChip Bridge by
    <a href="http://www.linkedin.com/in/karunviswanath">Karun Viswanath</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "How it works",   about_us_path %></li>
      <li><a href="http://mintchipchallenge.com/">MintChip Website</a></li>
    </ul>
  </nav>
</footer>