<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "MintChip Bridge - Leveraging MintChip with traditional payments", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Enter Demo",    signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>